<!-- <div class="loader_bg">
  <div class="loader"><img src="images/loading.gif" alt="#" /></div>
</div> -->
<!-- <div id="myNav" class="menu_sid">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="menu_sid-content">
    <a href="#protien">Our Protien</a>
    <a href="#about" routerLink="/conatct-us">About Us</a>
    <a href="#testimonial">Testimonial</a>
    <a href="" routerLink="/conatct-us">Contact Us</a>
  </div>
</div> -->

<mg-top-bar></mg-top-bar>

<router-outlet></router-outlet>

<mg-footer></mg-footer>
